body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  margin: 0px;
}

p {
  font-family: "Cormorant Garamond", serif;

}

/* font-family: "Cinzel", serif; */
/* font-family: "Almarai", sans-serif; */