.background {
  margin-top: 73px;
  background: 
  linear-gradient(rgba(42, 40, 40, 0.855), rgba(26, 25, 25, 0.97)), 
  url('https://i.postimg.cc/DyDykHrv/Library-Management-System-2048x1201.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  position: relative;
}
.backLandArrow{
  position: absolute;
  color: rgb(172, 47, 31);
  top: 19px;
  left: 19px;
  margin: 0px;
}

.getbtn {
  padding: 6px 30px;
  border-radius: 40px;
  border: solid 3px rgb(244, 239, 233);
  background-color: rgb(19, 19, 88);
  color: aliceblue;
  font-size: 20px;
}

.getbtn:hover {
  background-color: rgb(35, 35, 148);
}



